{% extends 'base.html'%}
{% import 'macros.html' as macro %}
  {% block content %}
        <meta  name="viewport" content ="width=device-width,initial-scale=1,user-scalable=yes" />
        {% if title %}
        <title> {{ title }}</title>
        {% else %}
        <title> news</title>
        {% endif %}

        <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}"/>

         <header class="intro-header" style="background-image: url({{ url_for('static', filename='images/back.jpeg') }})">

              <!-- sources-->
  <div class="container-fluid">



                {{macro.displaySourcesList(sources)}}

</div>

<script src="{{url_for('static',filename='js/logic.js')}}"></script>

        {% endblock %}
