{% extends 'base.html'%}
{% import 'macros.html' as macro %}
  {% block content %}
        <meta  name="viewport" content ="width=device-width,initial-scale=1,user-scalable=yes" />
        {% if title %}
        <title> {{ title }}</title>
        {% else %}
        <title> news</title>
        {% endif %}
        <!-- <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}"></link> -->


              <!-- sources-->
  <div class="container-fluid">
<h1 class='font-family'>General</h1>
                {{macro.displaySourcesList(general)}}
<h1 class='font-family'>Business</h1>
                {{macro.displaySourcesList(business)}}
<h1 class='font-family'>Sports</h1>

                {{macro.displaySourcesList(sports)}}
<h1 class='font-family'>Technology</h1>

                {{macro.displaySourcesList(technology)}}
<h1 class='font-family'>Science</h1>
                {{macro.displaySourcesList(science)}}

<h1 class='font-family'>Health</h1>
        {{macro.displaySourcesList(health)}}


</div>

<script src="{{url_for('static',filename='js/logic.js')}}"></script>

        {% endblock %}
