

<link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}"></link>
<h1 style='align:center;'>Top-headlines</h1>
{% macro displayArticlesList(article_list) %}
<div class="container-fluid">

<div classs='row'>
    {% for article in article_list %}
<div class="col-md-4" id='line'>
<a href="{{article.url}}">{{ article.title}}</a>
<a href="{{article.url}}">{{ article.author}}</a>
        <img  src="{{article.urlToImage}}" class="img-responsive img-circle img-thumbnail" width="436" height="436" >
  {{article.description}}
  {{article.publishedAt}}




</div>
{% endfor %}
</div>
</div>


{% endmacro %}


{% macro displaySourcesList(source_list) %}
<div class="container-fluid">
<div classs='row'>
    {% for source in source_list %}
<div class="col-md-4" id='line'>
<div class='row'>
    <div class="thumbnail">

<h1><font face="verdana" color="Red">{{ source.name}}</h1>
<h1><font face="verdana" color="Red">{{ source.description}}</h1>
<h1><font face="verdana" color="Red">{{ source.url}}</h1>
<h1><font face="verdana" color="Red">{{ source.language}}</h1>
<h1><font face="verdana" color="Red">{{ source.country}}</h1>

        <div class="btn-group toolTipgroup">
          <a class="btn" href="#" data-placement="top" data-original-title="do you like?"><i class="icon-thumbs-up"></i></a>
          <a class="btn" href="#" data-placement="top" data-original-title="dont like?"><i class="icon-thumbs-down"></i></a>
        </div>

      <p><a href="/source/{{source.id}}" >Top-headlines</a></p>
    </div>
</div>

</div>
    {% endfor %}

</div>
</div>



{% endmacro %}
