<div class="navbar navbar-inverse" role="navigation">
       <div class="container-fluid">
           <div class="navbar-header">
               <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                 <span class="sr-only">Toggle navigation</span>
                 <span class="icon-bar"></span>
                 <span class="icon-bar"></span>
                 <span class="icon-bar"></span>
               </button>
           </div>
           <div class="navbar-collapse collapse">
               <ul class="nav navbar-nav">
                   <li><a href="/">News</a></li>
              </ul>
               <ul class="nav navbar-nav">
                  <li><a href="/#General">General</a></li>
                </ul>
               <ul class="nav navbar-nav">
                  <li><a href="#Business">Business</a></li>
                  </ul>
                 <ul class="nav navbar-nav">
                  <li><a href="#Health">Health</a></li>
                    </ul>
                 <ul class="nav navbar-nav">
                  <li><a href="#Science">Science</a></li>
                  </ul>
                 <ul class="nav navbar-nav">
                  <li><a href="#Technology">Technology</a></li>
                  </ul>
                   <ul class="nav navbar-nav">
                  <li><a href="#Sports">Sports</a></li>
                 </ul>
           </div>

       </div>
   </div>

<script src="{{url_for('static',filename='js/logic.js')}}"></script>
