{% extends 'base.html'%}
{% import 'macros.html' as macro %}
  {% block content %}
        <meta  name="viewport" content ="width=device-width,initial-scale=1,user-scalable=yes" />
        {% if title %}
        <title> {{ title }}</title>
        {% else %}
        <title> news</title>
        {% endif %}
        <style>
        /* width */
        ::-webkit-scrollbar {
            width: 10px;
        }

        /* Track */
        ::-webkit-scrollbar-track {
            background: #f1f1f1;
        }

        /* Handle */
        ::-webkit-scrollbar-thumb {
            background: #888;
        }

        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
            background: #555;
        }
        </style>


    <body>
      <div class="container-fluid">
        <div class="row">

        <!-- articles -->

            <blockquote>
              <p style='font-size:60px;'>Welcome to news highlights.
                We bring you the best news across the globe. </p>
            </blockquote>

            <hr size='30px'>

              <div class="col-md-6">
                <h3>Top headlines.<br />check the trending news below.
                  <hr />
                </h3>
                {{macro.displayArticlesList(articles)}}
              </div>
</div>
{% endblock %}
