{% extends 'base.html'%}
{% import 'macros.html' as macro %}
  {% block content %}
        <meta  name="viewport" content ="width=device-width,initial-scale=1,user-scalable=yes" />
        {% if title %}
        <title> {{ title }}</title>
        {% else %}
        <title> news</title>
      {% endif %}

<body>
<div>
<h1 style='align:center;'>Top-headlines</h1>
</div>

    <div>
                {{macro.displayArticlesList(articles)}}

</div>

<script src="{{url_for('static',filename='js/logic.js')}}"></script>

</body>
{% endblock %}
